/* @import './base.css'; */

.bg-custom {
  background: rgba(0, 0, 0, .5) url('./pexels-daniel-putzer-633409.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-blend-mode: darken;
}

.mobile-view {
  margin: 0px auto;
  height: 100%;
  width: 100%;
  max-width: 680px;
}

.img-circle{
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.icon-sosmed-1{
  font-size: 35px;
}

.animation-icons{
  transition: 0.5s;
}

.animation-icons:hover, .animation-icons:focus, .animation-icons:active{
  transform: scale(1.5);
}

.button-sosmed-animations{
  transition: 0.5s;
}

.button-sosmed-animations:hover, .button-sosmed-animations:focus, .button-sosmed-animations:active{
  transform: scale(1.1);
}

.text-link-header{
  text-decoration: none;
}

.text-link-header:hover{
  text-decoration: underline;
}